<% content_for :title, "rubynas :: #{params[:name]}" %>

<% content_for :panel do %>
  <%= render partial: "users/panel_profile" %>
<% end %>

<% content_for :explorer do %>
  <div class="link_wrapper">
    <%= link_to "private", open_path(params[:name], "private"), class: "private-link" %>
    <%= link_to "public", open_path(params[:name], "public"), class: "public-link" %>
  </div>
<% end %>
