<% content_for :title, "rubynas" %>

<% content_for :panel do %>
  <%= render partial: "panel_profile" %>
<% end %>

<% content_for :explorer do %>
  <table class="user-list-table" rules="all">
    <!-- Table Header -->
    <tr>
      <th>Username</th>
      <th width="200px">Last Update</th>
      <th width="120px">Member Since</th>
    </tr>
    <% User.order(:name).each do |user| %>
      <tr>
        <td><%= link_to user.name, user_path(user.name) %></td>
        <td><%#=  %></td>
        <td><%= user.created_at.localtime.strftime "%b %d, %Y" %></td>
      </tr>
    <% end %>
  </table>
<% end %>
