<!-- Select -->
<fieldset>
  <legend>Select</legend>
  <ul>
    <!-- Select All -->
    <li><%= button_tag "Select All", { onclick: "select_all();" } %></li>
    <!-- Select Reset -->
    <li><%= button_tag "Reset", { onclick: "select_reset();" } %></li>
    <!-- Select Invert -->
    <li><%= button_tag "Invert", { onclick: "select_invert();" } %></li>
  </ul>
</fieldset>
