// Place all the styles related to the explorer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// File List Table
.file_list_table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border: 1px solid #000;
  // Table Header
  th {
    padding: 3px 5px;
    background-color: #c52f24;
    color: #fff;
    border: none;
  }
  // Table Body
  td {
    word-break: break-all;
    padding: 3px 5px;
    &:nth-child(2), &:nth-child(3) {
      text-align: right;
    }
  }
}
